<body>
 <% @book.errors.full_messages.each do |message| %>
  <div class="form-error">
   <%= message %>
  </div>
 <% end %>


  <p><strong>Titile:</strong>
   <%= @book.title %>
  </p>



  <p><strong>Body:</strong>
   <%= @book.body %>
  </p>



  <p><%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to 'Back', "/books" %></p>


</body>
